<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rye|Aladin|Lora|Roboto+Mono|Ewert|Aclonica|Architects+Daughter|Creepster">

</head>

<body>
    <ngx-spinner size="large" type="ball-elastic-dots"></ngx-spinner>
    <h1 style="background-color: aqua; padding-top: 30px; padding-bottom: 10px; margin-top: -5px; border-radius: 5px;" *ngIf="currentPlayer==='Blue'">&nbsp; {{currentPlayer}}'s move</h1>
    <h1 style="background-color: crimson; padding-top: 30px; padding-bottom: 10px; margin-top: -5px;  border-radius: 5px;" *ngIf="currentPlayer==='Red'">&nbsp; {{currentPlayer}}'s move</h1>
    <div class="mapLink">
        <a class="link" href="https://drive.google.com/file/d/1lWxZBVZpe8rgA4oBnVlBszL0B3zIhJzx/view?usp=sharing" target="_blank">View the map</a>
    </div>
    <div class="targetSelect">
        <h2 class="selectHeader" style=" margin-left: 17px;">Select target</h2>
        <table>
            <thead>
                <col>
                <colgroup span="12"></colgroup>

                <tr>
                    <th rowspan="2" class="theadr" id="cName">County Name</th>
                    <th rowspan="2" class="theadr" id="cName">Owner</th>
                    <th rowspan="2" class="theadr" id="cName">Castle</th>
                    <th colspan="12" scope="colgroup" class="theadr">Army</th>
                </tr>
                <tr>
                    <th scope="col" style="width: 120px;">Unit 1</th>
                    <th scope="col" style="width: 120px;">Unit 2</th>
                    <th scope="col" style="width: 120px;">Unit 3</th>
                    <th scope="col" style="width: 120px;">Unit 4</th>
                    <th scope="col" style="width: 120px;">Unit 5</th>
                    <th scope="col" style="width: 120px;">Unit 6</th>
                    <th scope="col" style="width: 120px;">Unit 7</th>
                    <th scope="col" style="width: 120px;">Unit 8</th>
                    <th scope="col" style="width: 120px;">Unit 9</th>
                    <th scope="col" style="width: 120px;">Unit 10</th>
                    <th scope="col" style="width: 120px;">Unit 11</th>
                    <th scope="col" style="width: 120px;">Unit 12</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class=cName>
                        <select class="target" (change)="setTarget()" [(ngModel)]="countyId">  
                           <ng-container *ngFor="let county of globalMap.counties">                       
                         <option  value={{county.id}}>{{county.id}}</option>  
                           </ng-container>                       
                    </select>
                    </td>

                    <td class="owner" *ngIf="targetCounty.owner==='Neutral'||targetCounty.owner===undefined">
                        {{targetCounty.owner}}
                    </td>
                    <td class="owner" *ngIf="targetCounty.owner==='Blue'" style="background-color: aqua;">
                        {{targetCounty.owner}}
                    </td>
                    <td class="owner" *ngIf="targetCounty.owner==='Red'" style="background-color: crimson;">
                        {{targetCounty.owner}}
                    </td>
                    <td class="owner" *ngIf="targetCounty.isCastle" style="min-width: 80px; background-color: darkolivegreen;">
                        Yes
                    </td>
                    <td class="owner" *ngIf="targetCounty.isCastle===false" style="min-width: 80px;">
                        No
                    </td>
                    <td class="owner" *ngIf="targetCounty.isCastle===undefined" style="min-width: 80px;">
                    </td>
                    <ng-container *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12]">
                        <td *ngIf="countyId===undefined" class="unit"></td>
                    </ng-container>
                    <ng-container *ngFor="let unit of targetCounty.army">
                        <td class="unit">
                            {{unit.name}} {{unit.hp}}
                        </td>
                    </ng-container>

                </tr>

            </tbody>

        </table>

    </div>

    <div class="neihgbors">
        <h2 class="selectHeader" style=" margin-left: 17px;" *ngIf="targetCounty.owner===undefined && neighbors.length===0"></h2><br *ngIf="targetCounty.owner===undefined || neighbors.length===0">
        <h2 class="selectHeader" style=" margin-left: 17px;" *ngIf="targetCounty.owner!=currentPlayer && targetCounty.owner!=undefined && targetCounty.owner!='Neutral' && neighbors.length >0">Attack enemy</h2>
        <h2 class="selectHeader" style=" margin-left: 17px;" *ngIf="(targetCounty.owner===currentPlayer || targetCounty.owner==='Neutral') && neighbors.length>0">Move army</h2>
        <table>

            <thead>
                <col>
                <colgroup span="12"></colgroup>

                <tr>
                    <th rowspan="2" class="theadr" id="cName">County Name</th>
                    <th colspan="12" scope="colgroup" class="theadr">Army</th>
                </tr>
                <tr>
                    <th scope="col" style="width: 120px;">Unit 1</th>
                    <th scope="col" style="width: 120px;">Unit 2</th>
                    <th scope="col" style="width: 120px;">Unit 3</th>
                    <th scope="col" style="width: 120px;">Unit 4</th>
                    <th scope="col" style="width: 120px;">Unit 5</th>
                    <th scope="col" style="width: 120px;">Unit 6</th>
                    <th scope="col" style="width: 120px;">Unit 7</th>
                    <th scope="col" style="width: 120px;">Unit 8</th>
                    <th scope="col" style="width: 120px;">Unit 9</th>
                    <th scope="col" style="width: 120px;">Unit 10</th>
                    <th scope="col" style="width: 120px;">Unit 11</th>
                    <th scope="col" style="width: 120px;">Unit 12</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let county of neighbors">
                    <td class="cName">
                        <button class="selectAll" (click)="selectAllUse(county)">All use</button><br>{{county.id}}
                        <button class="selectAll" id="selectAllSupport" (click)="selectAllSupport(county)" *ngIf="targetCounty.owner!=currentPlayer && targetCounty.owner!='Neutral'">All support</button>
                    </td>
                    <td *ngFor="let unit of county.army" class="attUnit">
                        <label style="font-size: smaller;" *ngIf="unit.numberOfSteps>0"><input type="checkbox" (click)=unselectSupport(unit) [(ngModel)]="unit.isInUse" *ngIf="unit.numberOfSteps>0">Use</label><br *ngIf="targetCounty.owner!=currentPlayer && targetCounty.owner!='Neutral' && unit.name!='None' && unit.numberOfSteps>0">
                        <label *ngIf="targetCounty.owner!=currentPlayer && targetCounty.owner!='Neutral'&& unit.name!='None' && unit.numberOfSteps>0" style="font-size: smaller;"><input type="checkbox" (click) = selectUse(unit) [(ngModel)]="unit.isSupport" *ngIf="targetCounty.owner!=currentPlayer && targetCounty.owner!='Neutral'&& unit.name!='None' && unit.numberOfSteps>0">Support</label>
                        <br *ngIf="unit.numberOfSteps>0">{{unit.name}} {{unit.hp}}
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
    <div class="oneLine">
        <div class="buttons">
            <button class="move" (click)="makeMove()">Go!</button>
            <a *ngIf="isPanic" class="panic">Panic!</a><br>
            <button class="move" id="changeSide" (click)="changeSide()">Change side</button><br>
            <button class="move" id="getReport" (click)="getReport()">Get Report</button>
        </div>
    </div>
    <div class="oneLine">
        <div style="position: absolute; left: 50%;">
            <div class="bottomTable" *ngIf="this.moveResults.length>0 || this.deadResults.length>0">
                <table class="results">
                    <tbody>
                        <tr *ngFor="let result of deadResults">
                            <td *ngIf="result.numberOfUnits>0 && !result.isDoneOnMap" style="width: 10px;"><input type="checkbox" [(ngModel)]="result.isDoneOnMap"></td>
                            <td *ngIf="result.numberOfUnits>0 && result.isDoneOnMap" style="background-color: forestgreen; width: 10px;"><input type="checkbox" [(ngModel)]="result.isDoneOnMap"></td>
                            <td *ngIf="result.numberOfUnits>0" style="border:none; font-family:'Aladin'; text-align: center;">&nbsp;{{result.numberOfUnits}}</td>
                            <td *ngIf="result.numberOfUnits>0" style="border:none; text-align: left;">{{result.unitType}} unit(s) died in {{result.ounboundCounty}} county</td>
                        </tr>
                        <tr *ngFor="let result of attackResults">
                            <td *ngIf="result.numberOfUnits>0 && !result.isDoneOnMap" style="width: 10px;"><input type="checkbox" [(ngModel)]="result.isDoneOnMap"></td>
                            <td *ngIf="result.numberOfUnits>0 && result.isDoneOnMap" style="background-color: forestgreen; width: 10px;"><input type="checkbox" [(ngModel)]="result.isDoneOnMap"></td>
                            <td *ngIf="result.numberOfUnits>0" style="border:none; font-family:'Aladin'; text-align: center;">&nbsp;{{result.numberOfUnits}}</td>
                            <td *ngIf="result.numberOfUnits>0" style="border:none; text-align: left;">{{result.unitType}} unit(s) moved from {{result.ounboundCounty}} to {{result.inboundCounty}}</td>
                        </tr>
                        <tr *ngFor="let result of moveResults">
                            <td *ngIf="result.numberOfUnits>0 && !result.isDoneOnMap" style="width: 10px;"><input type="checkbox" [(ngModel)]="result.isDoneOnMap"></td>
                            <td *ngIf="result.numberOfUnits>0 && result.isDoneOnMap" style="background-color: forestgreen; width: 10px;"><input type="checkbox" [(ngModel)]="result.isDoneOnMap"></td>
                            <td *ngIf="result.numberOfUnits>0" style="border:none; font-family:'Aladin'; text-align: center;">&nbsp;{{result.numberOfUnits}}</td>
                            <td *ngIf="result.numberOfUnits>0" style="border:none; text-align: left;">{{result.unitType}} unit(s) moved from {{result.ounboundCounty}} to {{result.inboundCounty}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>