<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rye|Aladin|Lora|Roboto+Mono|Ewert|Aclonica|Architects+Daughter">

</head>

<body>
    <h1 style="background-color: aqua; padding-top: 30px; padding-bottom: 10px; margin-top: -5px; border-radius: 5px;" *ngIf="currentPlayer==='Blue'">&nbsp; {{currentPlayer}}'s move</h1>
    <h1 style="background-color: crimson; padding-top: 30px; padding-bottom: 10px; margin-top: -5px;  border-radius: 5px;" *ngIf="currentPlayer==='Red'">&nbsp; {{currentPlayer}}'s move</h1>
    <div class="mapLink">
        <a class="link" href="https://drive.google.com/file/d/1lWxZBVZpe8rgA4oBnVlBszL0B3zIhJzx/view?usp=sharing" target="_blank">View the map</a>
    </div>
    <div class="targetSelect">
        <h2 class="selectHeader" style=" margin-left: 17px;">Select target</h2>
        <table>

            <thead>
                <col>
                <colgroup span="12"></colgroup>

                <tr>
                    <th rowspan="2" class="theadr" id="cName">County Name</th>
                    <th rowspan="2" class="theadr" id="cName">Owner</th>
                    <th rowspan="2" class="theadr" id="cName">Castle</th>
                    <th colspan="12" scope="colgroup" class="theadr">Army</th>
                </tr>
                <tr>

                    <th scope="col">Unit 1</th>
                    <th scope="col">Unit 2</th>
                    <th scope="col">Unit 3</th>
                    <th scope="col">Unit 4</th>
                    <th scope="col">Unit 5</th>
                    <th scope="col">Unit 6</th>
                    <th scope="col">Unit 7</th>
                    <th scope="col">Unit 8</th>
                    <th scope="col">Unit 9</th>
                    <th scope="col">Unit 10</th>
                    <th scope="col">Unit 11</th>
                    <th scope="col">Unit 12</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class=cName>
                        <select class="target" [(ngModel)]="targetCounty" (change)="setTargetOwner(targetCounty)" (change)="setIsCastle(targetCounty)" (change)="setUnitList(targetCounty)" (change)="setNeighbors(targetCounty)">
                        <!-- <option value="" disabled selected >Select</option> -->
                        <ng-container *ngFor = "let county of fieldState">
                             <option value={{county.name}}>{{county.name}}</option>
                         </ng-container>
                    </select>
                    </td>
                    <td class="owner" *ngIf="targetOwner==='Neutral'||targetOwner===undefined">
                        {{targetOwner}}
                    </td>
                    <td class="owner" *ngIf="targetOwner==='Blue'" style="background-color: aqua;">
                        {{targetOwner}}
                    </td>
                    <td class="owner" *ngIf="targetOwner==='Red'" style="background-color: crimson;">
                        {{targetOwner}}
                    </td>
                    <td class="owner" *ngIf="isCastle" style="min-width: 80px; background-color: darkolivegreen;">
                        Yes
                    </td>
                    <td class="owner" *ngIf="isCastle===false" style="min-width: 80px;">
                        No
                    </td>
                    <td class="owner" *ngIf="isCastle===undefined" style="min-width: 80px;">
                    </td>
                    <td class="unit">
                        {{targetUnit1}}
                    </td>
                    <td class="unit">
                        {{targetUnit2}}
                    </td>
                    <td class="unit">
                        {{targetUnit3}}
                    </td>
                    <td class="unit">
                        {{targetUnit4}}
                    </td>
                    <td class="unit">
                        {{targetUnit5}}
                    </td>
                    <td class="unit">
                        {{targetUnit6}}
                    </td>
                    <td class="unit">
                        {{targetUnit7}}
                    </td>
                    <td class="unit">
                        {{targetUnit8}}
                    </td>
                    <td class="unit">
                        {{targetUnit9}}
                    </td>
                    <td class="unit">
                        {{targetUnit10}}
                    </td>
                    <td class="unit">
                        {{targetUnit11}}
                    </td>
                    <td class="unit">
                        {{targetUnit12}}
                    </td>

                </tr>
            </tbody>

        </table>

    </div>
    <div class="neihgbors">
        <h2 class="selectHeader" style=" margin-left: 17px;">Attack forces</h2>
        <table>

            <thead>
                <col>
                <colgroup span="12"></colgroup>

                <tr>
                    <th rowspan="2" class="theadr" id="cName">County Name</th>
                    <!-- <th rowspan="2" class="theadr" id="cName">Owner</th>
                    <th rowspan="2" class="theadr" id="cName">Castle</th> -->
                    <th colspan="12" scope="colgroup" class="theadr">Army</th>
                </tr>
                <tr>

                    <th scope="col">Unit 1</th>
                    <th scope="col">Unit 2</th>
                    <th scope="col">Unit 3</th>
                    <th scope="col">Unit 4</th>
                    <th scope="col">Unit 5</th>
                    <th scope="col">Unit 6</th>
                    <th scope="col">Unit 7</th>
                    <th scope="col">Unit 8</th>
                    <th scope="col">Unit 9</th>
                    <th scope="col">Unit 10</th>
                    <th scope="col">Unit 11</th>
                    <th scope="col">Unit 12</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let county of neighbors; let i =index">
                    <td class="cName" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">
                        {{neighbors[i]}}
                    </td>
                    <td class="attUnit" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">
                        <label><input type="checkbox" >Use</label><br>
                        <label><input type="checkbox" >Bck</label>

                    </td>
                    <td class="cName" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">

                    </td>
                    <td class="cName" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">

                    </td>
                    <td class="cName" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">

                    </td>
                    <td class="cName" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">

                    </td>
                    <td class="cName" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">

                    </td>
                    <td class="cName" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">

                    </td>
                    <td class="cName" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">

                    </td>
                    <td class="cName" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">

                    </td>
                    <td class="cName" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">

                    </td>
                    <td class="cName" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">

                    </td>
                    <td class="cName" *ngIf="getCountyInfo(neighbors[i],'owner')===currentPlayer">

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body>